{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

# https://www.chezmoi.io/user-guide/use-scripts-to-perform-actions/#install-packages-with-scripts

# cmctl: https://cert-manager.io/docs/reference/cmctl/
# OS=$(go env GOOS); ARCH=$(go env GOARCH); curl -sSL -o cmctl.tar.gz https://github.com/cert-manager/cert-manager/releases/download/v1.7.2/cmctl-$OS-$ARCH.tar.gz
# tar xzf cmctl.tar.gz
# sudo mv cmctl /usr/local/bin

type brew &> /dev/null || /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

brew bundle --no-lock --file=/dev/stdin <<EOF
brew "awscli"
brew "bash-completion"
brew "cilium-cli"
brew "git"
brew "git-secrets"
brew "gnupg"
brew "go"
brew "helm"
brew "jq"
brew "jsonnet"
brew "kind"
brew "krew"
brew "kubectx"
brew "kubernetes-cli"
brew "kustomize"
brew "pre-commit"
brew "tmux"
brew "tree"
brew "yamllint"
brew "yq"
brew "zsh"
brew "zsh-syntax-highlighting"
EOF

{{ end -}}
