#!/bin/bash

# https://www.chezmoi.io/user-guide/use-scripts-to-perform-actions/#install-packages-with-scripts

type brew &> /dev/null || /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

brew bundle --no-lock --file=/dev/stdin <<EOF
brew "bash-completion"
brew "git"
brew "gnupg"
brew "go"
brew "helm"
brew "hashicorp/tap/terraform"
brew "jq"
brew "jsonnet"
brew "kind"
brew "krew"
brew "kubectx"
brew "kubernetes-cli"
brew "kustomize"
brew "pre-commit"
brew "tmux"
brew "tree"
brew "yamllint"
brew "yq"
brew "zsh"
brew "zsh-syntax-highlighting"
brew "loft-sh/tap/vcluster"
brew "gemini-cli"
cask "claude-code"
cask "google-cloud-sdk"
EOF

# complete install git-secrets in every repo:
# $ git secrets --install
# https://github.com/awslabs/git-secrets
